*
{
    margin: 0px;
    padding: 0px;
}

body
{
    height: max-content;
    width: max-content;
}

.login-container{
    width: 36%;
    height: 60%;
}

.text-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}